.title {
    @include center();
    padding-bottom: 35px;
    h5 {
        font-size: 30px;
        color: $primary-color;
        font-family: 'Pacifico', cursive;
        @media only screen and (max-width: 970px) {
            font-size: 25px;
         }
         @media only screen and (max-width: 768px) {
            font-size: 20px;
         }
    }
    h2 {
        font-size: 70px;
        color: #1D1D1D;
        @media only screen and (max-width: 970px) {
            font-size: 50px;
         }
         @media only screen and (max-width: 768px) {
            font-size: 30px;
         }
    }
}
// 
.button {
    text-decoration: none;
    background: $primary-color;
    border: 1px solid $primary-color;
    color: $white;
    font-weight: 700;
    padding: 17px 41px;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.35s ease-in;
    &:hover {
        background-color: transparent;
        color: $primary-color;
    }
}
// card of 4
.cards {
    @include align-cards();
    padding-top: 50px;

    .card {
        width: 22%;
        @include center();

        @media only screen and (max-width: 970px) {
            width: 25%;
        }

        @media only screen and (max-width: 768px) {
            width: 50%;
        }
    }
}
// title-left
.title-container {
    h5 {
        font-size: 30px;
        color: $primary-color;
        font-family: 'Pacifico', cursive;

        @media only screen and (max-width: 970px) {
            font-size: 25px;
        }

        @media only screen and (max-width: 768px) {
            font-size: 20px;
        }
    }

    h2 {
        font-size: 70px;
        color: #1D1D1D;

        @media only screen and (max-width: 970px) {
            font-size: 50px;
        }

        @media only screen and (max-width: 768px) {
            font-size: 30px;
        }
    }
}