.header-section {
  background-image: url(../img/bc.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-section .menu {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-section .menu .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section .menu .nav-items .nav-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-section .menu .nav-items .nav-item li {
  list-style-type: none;
}

.header-section .menu .nav-items .nav-item li a {
  text-decoration: none;
  font-size: 16px;
  color: #fefefe;
  margin: 0 20px;
  -webkit-transition: color 0.35s ease-in;
  transition: color 0.35s ease-in;
}

.header-section .menu .nav-items .nav-item li a:hover {
  color: #eb974b;
}

.header-section .menu .nav-items .nav-item .order-item {
  color: #fefefe;
  margin: 0 10px;
}

.header-section .menu .nav-items .nav-item .order-item i {
  margin: 0 3px;
  color: #eb974b;
}

.header-section .menu .nav-items .nav-item .order-item .button {
  font-size: 16px;
  color: #fefefe;
  text-decoration: none;
  padding: 12px 15px;
  background-color: #91B842;
  border-radius: 25px;
  -webkit-transition: background-color 0.35s ease-in;
  transition: background-color 0.35s ease-in;
}

.header-section .menu .nav-items .nav-item .order-item .button:hover {
  background-color: #eb974b;
}

@media only screen and (max-width: 768px) {
  .header-section .menu .nav-items .nav-item:first-child {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .header-section .menu .nav-items .nav-item {
    display: none;
  }
}

.header-section .slider {
  padding: 70px 0 110px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .header-section .slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.header-section .slider .slider-item {
  width: 45%;
}

@media only screen and (max-width: 768px) {
  .header-section .slider .slider-item {
    width: 70%;
  }
}

.header-section .slider .slider-item h2 {
  font-size: 150px;
  font-weight: 700;
  color: #fefefe;
}

.header-section .slider .slider-item h2 span {
  color: #FD9D3E;
}

@media only screen and (max-width: 970px) {
  .header-section .slider .slider-item h2 {
    font-size: 90px;
  }
}

@media only screen and (max-width: 768px) {
  .header-section .slider .slider-item h2 {
    font-size: 50px;
  }
}

.header-section .slider .slider-item p {
  font-size: 30px;
  color: #FD9D3E;
  letter-spacing: 7px;
}

@media only screen and (max-width: 970px) {
  .header-section .slider .slider-item p {
    font-size: 18px;
  }
}

.header-section .slider .img-container {
  width: 45%;
  position: relative;
}

.header-section .slider .img-container .pizza {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 970px) {
  .header-section .slider .img-container {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .header-section .slider .img-container {
    width: 33%;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 970px) {
  .header-section .slider .img-container .ingredients {
    width: 15%;
    height: 15%;
  }
}

@media only screen and (max-width: 768px) {
  .header-section .slider .img-container .ingredients {
    width: 15%;
    height: 15%;
  }
}

.header-section .slider .img-container .f-ingredient {
  position: absolute;
  top: -12%;
  right: -18%;
}

@media only screen and (max-width: 970px) {
  .header-section .slider .img-container .f-ingredient {
    right: -10%;
  }
}

.header-section .slider .img-container .s-ingredient {
  position: absolute;
  top: -3%;
  left: -1%;
}

.header-section .slider .img-container .t-ingredient {
  position: absolute;
  top: 14%;
  left: -9%;
}

.header-section .slider .img-container .fr-ingredient {
  position: absolute;
  left: 50%;
  bottom: -11%;
}

.header-section .slider .img-container .fv-ingredient {
  position: absolute;
  left: 68%;
  bottom: -12%;
}

.header-section .slider .img-container .sx-ingredient {
  position: absolute;
  left: 97%;
  bottom: 11%;
}

.order-section {
  background-color: #FD9D3E;
  padding: 70px;
  position: relative;
}

.order-section .splash-top {
  position: absolute;
  max-width: 100%;
  left: 0;
  top: -20%;
}

.order-section .splash-bottom {
  position: absolute;
  max-width: 100%;
  left: 0;
  bottom: -20%;
}

.order-section .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .order-section .items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.order-section .items .item {
  width: 31%;
}

@media only screen and (max-width: 970px) {
  .order-section .items .item {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .order-section .items .item {
    width: 28%;
  }
}

@media only screen and (max-width: 768px) {
  .order-section .items .item {
    width: 60%;
    margin: 10px 0;
  }
}

.order-section .items .item img {
  width: 90px;
  height: 90px;
  -webkit-transition: fill 0.35s ease-in;
  transition: fill 0.35s ease-in;
}

@media only screen and (max-width: 768px) {
  .order-section .items .item img {
    width: 70px;
    height: 70px;
  }
}

.order-section .items .item h4 {
  font-size: 30px;
  color: #121619;
  margin: 15px 0;
}

.order-section .items .item p {
  color: #121619;
  font-size: 14px;
  font-weight: 400;
  padding: 0 45px;
}

@media only screen and (max-width: 970px) {
  .order-section .items .item p {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .order-section .items .item p {
    padding: 0 30px;
  }
}

.order-section .items .item:hover img {
  fill: red;
}

.specials-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 80px 0;
}

.specials-section .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

@media only screen and (max-width: 970px) {
  .specials-section .items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.specials-section .items .item {
  width: 31%;
}

@media only screen and (max-width: 970px) {
  .specials-section .items .item {
    width: 28%;
  }
}

@media only screen and (max-width: 768px) {
  .specials-section .items .item {
    width: 50%;
    margin-bottom: 20px;
  }
}

.specials-section .items .item img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.35s ease-in;
  transition: -webkit-transform 0.35s ease-in;
  transition: transform 0.35s ease-in;
  transition: transform 0.35s ease-in, -webkit-transform 0.35s ease-in;
}

.specials-section .items .item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.specials-section .items .item h4 {
  font-size: 24px;
  color: #121619;
  margin: 30px 0;
}

.offer-section {
  background-color: #121619;
  padding: 120px 0;
  position: relative;
}

.offer-section .title h2 {
  color: #fefefe;
}

.offer-section .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.offer-section .categories ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #2B2C2D;
  border-radius: 50px;
  padding: 15px 0;
}

@media only screen and (max-width: 768px) {
  .offer-section .categories ul {
    background-color: transparent;
  }
}

.offer-section .categories ul li {
  list-style-type: none;
}

.offer-section .categories ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #fefefe;
  padding: 14px 28px;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

.offer-section .categories ul li a:hover {
  background-color: #FD9D3E;
  border-radius: 50px;
  padding: 17px 28px 15px 28px;
}

@media only screen and (max-width: 768px) {
  .offer-section .categories ul li a {
    font-size: 13px;
    padding: 5px 8px;
  }
  .offer-section .categories ul li a:hover {
    padding: 5px 8px;
  }
}

.offer-section .cards .card img {
  cursor: pointer;
  width: 200px;
  height: 200px;
  -webkit-transition: -webkit-transform 0.35s ease-in;
  transition: -webkit-transform 0.35s ease-in;
  transition: transform 0.35s ease-in;
  transition: transform 0.35s ease-in, -webkit-transform 0.35s ease-in;
}

.offer-section .cards .card img:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

@media only screen and (max-width: 970px) {
  .offer-section .cards .card img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .offer-section .cards .card img {
    width: 120px;
    height: 120px;
  }
}

.offer-section .cards .card h5 {
  cursor: pointer;
  font-size: 18px;
  color: #fefefe;
  padding: 25px 0 12px 0;
  -webkit-transition: color 0.35s ease-in;
  transition: color 0.35s ease-in;
}

.offer-section .cards .card h5:hover {
  color: #FD9D3E;
}

.offer-section .cards .card p {
  font-size: 14px;
  color: #999999;
  letter-spacing: 1px;
  padding-bottom: 12px;
}

.offer-section .cards .card span {
  font-size: 18px;
  color: #FD9D3E;
  padding: 12px 0;
}

.offer-section .whitesplash-top {
  position: absolute;
  max-width: 100%;
  left: 0;
  top: -4%;
}

.offer-section .whitesplash-bottom {
  position: absolute;
  max-width: 100%;
  left: 0;
  bottom: 0%;
}

.booking-section {
  padding: 115px 0;
}

.booking-section .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 90px;
}

.booking-section .items .item {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .booking-section .items .item {
    width: 90%;
    text-align: center;
  }
}

.booking-section .items .item .title-container h5 {
  font-size: 30px;
  color: #FD9D3E;
  font-family: 'Pacifico', cursive;
}

@media only screen and (max-width: 970px) {
  .booking-section .items .item .title-container h5 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .booking-section .items .item .title-container h5 {
    font-size: 20px;
  }
}

.booking-section .items .item .title-container h2 {
  font-size: 70px;
  color: #1D1D1D;
}

@media only screen and (max-width: 970px) {
  .booking-section .items .item .title-container h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .booking-section .items .item .title-container h2 {
    font-size: 30px;
  }
}

.booking-section .items .item p {
  color: #121619;
  font-size: 14px;
  font-weight: 400;
}

.booking-section .items .item .call-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #121619;
  border: 10px solid #FD9D3E;
  display: inline-block;
  padding: 15px 10px 15px 65px;
  margin-top: 30px;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

@media only screen and (max-width: 970px) {
  .booking-section .items .item .call-info {
    padding: 10px 10px 10px 40px;
  }
}

.booking-section .items .item .call-info span {
  font-size: 38px;
  font-weight: 700;
  color: #fefefe;
}

@media only screen and (max-width: 970px) {
  .booking-section .items .item .call-info span {
    font-size: 25px;
  }
}

.booking-section .items .item .call-info:hover {
  background-color: #fefefe;
}

.booking-section .items .item .call-info:hover span {
  color: #121619;
}

.booking-section .items .form-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 970px) {
  .booking-section .items .form-item {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .booking-section .items .form-item {
    width: 90%;
  }
}

.booking-section .items .form-item .form-title {
  font-size: 30px;
  color: #121619;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.booking-section .items .form-item form input {
  width: 90%;
  height: 50px;
  outline: none;
  font-size: 14px;
  color: #999999;
  padding: 0px 25px;
  border: 1px solid #999999;
  margin: 15px 0;
}

.booking-section .items .form-item form input:focus {
  border: 1px solid #FD9D3E;
}

@media only screen and (max-width: 970px) {
  .booking-section .items .form-item form input {
    height: 42px;
    padding: 0 15px;
    margin: 8px 0;
  }
}

.chef-section {
  background-image: url(../img/bc.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 155px;
  position: relative;
}

.chef-section .title h2 {
  color: #fefefe;
}

.chef-section .cards .card {
  background-color: #fefefe;
}

@media only screen and (max-width: 970px) {
  .chef-section .cards .card {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .chef-section .cards .card {
    width: 70%;
  }
}

.chef-section .cards .card img {
  width: 100%;
  height: 100%;
}

.chef-section .cards .card h4 {
  font-size: 20px;
  color: #121619;
  padding-top: 25px;
  -webkit-transition: color 0.35s ease-in;
  transition: color 0.35s ease-in;
}

.chef-section .cards .card span {
  font-size: 14px;
  color: #999999;
  padding-bottom: 28px;
  -webkit-transition: color 0.35s ease-in;
  transition: color 0.35s ease-in;
}

.chef-section .cards .card:hover h4 {
  color: #FD9D3E;
}

.chef-section .cards .card:hover span {
  color: #FD9D3E;
}

.chef-section .top-chef {
  position: absolute;
  max-width: 100%;
  left: 0;
  top: -17%;
}

.chef-section .bottom-chef {
  position: absolute;
  max-width: 100%;
  left: 0;
  bottom: -7%;
}

.news-section {
  padding: 100px 0;
}

.news-section .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-section .items .item {
  width: 31%;
}

.news-section .items .item .news-img {
  position: relative;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

.news-section .items .item .news-img img {
  width: 100%;
  height: 100%;
}

.news-section .items .item .news-img .date {
  background: #FD9D3E;
  color: #fefefe;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  bottom: -30px;
  right: 40px;
  font-weight: bold;
}

.news-section .items .item .news-img .date span {
  padding: 20px;
}

@media only screen and (max-width: 970px) {
  .news-section .items .item .news-img .date {
    width: 58px;
    height: 58px;
  }
}

.news-section .items .item .news-img:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.news-section .items .item .card-bottom {
  padding-top: 20px;
}

.news-section .items .item .card-bottom .info span {
  color: #1d1d1d;
  margin-right: 20px;
}

.news-section .items .item .card-bottom .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-section .items .item .card-bottom .links a {
  text-decoration: none;
  font-size: 18px;
  color: #1d1d1d;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 8px;
  -webkit-transition: -webkit-text-decoration 0.35s ease-in;
  transition: -webkit-text-decoration 0.35s ease-in;
  transition: text-decoration 0.35s ease-in;
  transition: text-decoration 0.35s ease-in, -webkit-text-decoration 0.35s ease-in;
}

.news-section .items .item .card-bottom .links a:hover {
  text-decoration: underline;
}

.news-section .items .item .card-bottom .links .more-info {
  color: #fd9d3e;
  text-decoration: underline;
  margin-top: 20px;
  font-size: 16px;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

.news-section .items .item .card-bottom .links .more-info:hover {
  color: #1d1d1d;
}

@media only screen and (max-width: 970px) {
  .news-section .items .item {
    width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .news-section .items .item {
    width: 90%;
    margin-bottom: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
}

.container {
  width: 1100px;
  margin: auto;
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 100%;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 35px;
}

.title h5 {
  font-size: 30px;
  color: #FD9D3E;
  font-family: 'Pacifico', cursive;
}

@media only screen and (max-width: 970px) {
  .title h5 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .title h5 {
    font-size: 20px;
  }
}

.title h2 {
  font-size: 70px;
  color: #1D1D1D;
}

@media only screen and (max-width: 970px) {
  .title h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .title h2 {
    font-size: 30px;
  }
}

.button {
  text-decoration: none;
  background: #FD9D3E;
  border: 1px solid #FD9D3E;
  color: #fefefe;
  font-weight: 700;
  padding: 17px 41px;
  border-radius: 50px;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

.button:hover {
  background-color: transparent;
  color: #FD9D3E;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

.cards .card {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 970px) {
  .cards .card {
    width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .cards .card {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */